html, body {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #444;
    background-color: #fff;
    padding: 10px 40px;
}

header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
}

.fc-icon {
    display: inline-block;
}

.fc-home {
    padding-top: 10px;
    float: right;
}

.big-title {
    padding: 50px;
    background: #eee;
    text-align: center;
    margin: 30px 0;
    border-radius: 5px;
}

.big-title h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 50px;
}

.big-title p {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 15px;
}

.user-guide {
    margin-top: 20px;
}

.user-guide h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.user-guide h3 {
    font-size: 22px;
    margin: 0;
}

.user-guide .highlight-code {
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
    padding: 1px 5px;
}

.user-guide p {
    margin: 10px 0 0 0;  
}

a.download {
    background-color: #74A2ED;
    border-radius: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 5px 30px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.356s ease-in;
}

a.download:hover {
    background-color: #437CD8;
}

.live-demo {
    margin-top: 50px;
    height: 700px;
    box-sizing: border-box;
}

.live-demo h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
}

.demo-menu {
    width: 25%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: scroll;
}

.demo-menu a {
    display: block;
    padding: 15px;
    background-color: #fff;
    text-decoration: none;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.demo-menu a:hover {
    background-color: #f1f1f1;
}

.demo-menu a h4 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.demo-menu a p {
    margin: 2px 0;
    padding: 0;
}

.demo-content {
    width: 75%;
    height: 100%;
    float: right;
    box-sizing: border-box;
}

#content-loader-anim {
    text-align: center;
}

#demo-container {
    padding: 10px;
}

#demo-container .error {
    color: red;
    text-align: center;
}